themes {
 	monokai-pro {
 		fg "#fff1f3"
 		bg "#2D2A2E"
 		black "#2c2525"
 		red "#fd6883"
 		green "#adda78"
 		yellow "#f9cc6c"
 		blue "#f38d70"
 		magenta "#a8a9eb"
 		cyan "#85dacc"
 		white "#fff1f3"
 		orange "#FC9867"
 	}
}
