:root {
    --bg-color: #191724;
    --fg-color: #e0def4;
    --primary-color: #ebbcba;
    --secondary-color: #31748f;
    --border-color: var(#26233a);
    --selected-bg-color: var(--primary-color);
    --selected-fg-color: var(--bg-color);
}

* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font", monospace;
}

window {
    background: transparent;
}

box.main {
    border-radius: 16px;
    background-color: var(--bg-color);
    border: 1px solid var(--primary-color);
    padding: 12px;
}

text {
    font-size: 1.3rem;
    background: transparent;
    border: 1px solid var(--border-color);
    border-radius: 16px;
    margin-bottom: 12px;
    padding: 5px 10px;
    min-height: 44px;
    caret-color: var(--primary-color);
}

.matches {
    background-color: transparent;
}

.match {
    font-size: 1.1rem;
    padding: 4px 10px;
    border-radius: 6px;
}

.match * {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.match:selected,
.match:hover {
    background-color: var(--selected-bg-color);
    color: var(--selected-fg-color);
}

.match:selected label.plugin.info,
.match:hover label.plugin.info {
    color: var(--selected-fg-color);
}

.match:selected label.match.description,
.match:hover label.match.description {
    color: color-mix(in srgb, var(--selected-fg-color) 90%, transparent);
}

label.plugin.info {
    color: var(--fg-color);
    font-size: 1rem;
    min-width: 160px;
    text-align: left;
}

label.match.description {
    font-size: 0rem;
    color: var(--fg-color);
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
